* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

html {
  font-size: 60%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@font-face {
  font-family: "Gilroy";
  src: url(font/Gilroy/Gilroy-Regular.otf);
}

.header-container {
  height: 154vh;
  background-image: url(images/tablet\ screen\ width.png);
  background-color: rgb(19, 12, 39);
  padding-top: 3rem;
  width: 100%;
}
.menu-div-big {
  position: fixed;
  margin-left: 18rem;
  overflow-x: hidden;
}
.menu-div {
  background-color: #ffffff;
  border-radius: 9.4rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 9.5vh;
  width: 61vw;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  margin: auto;
  box-shadow: 0px 20px 80px 0px rgba(105, 105, 105, 0.001);
}
.nav-bar {
  list-style: none;
  display: none;
}
.nav-bar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #494949;
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav-bar a:hover {
  color: #8a66f1;
  transition: 0.5s;
}
.btn1 {
  border-radius: 9.4rem;
  background-color: #8a66f1;
  color: #ffffff;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: none;
  margin-top: -1.1rem;
  font-size: 1.4rem;
  transition: 0.5s;
  display: none;
}
.btn1:hover {
  background-color: rgba(124, 92, 217, 1);
}
.burger-icon2 {
  visibility: visible;
}
.fa-bars {
  font-size: 2rem;
  padding-right: 2rem;
}
.hero-box-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17.5rem;
}
.hero-box-1 h2 {
  font-size: 4.5rem;
  color: #ffffff;
  font-family: "Gilroy-medium", sans-serif;
  font-weight: bold;
  padding-bottom: 3rem;
}
.hero-span {
  margin-left: -2.5rem;
  font-family: "Gilroy-medium", sans-serif;
  font-weight: bold;
}
.hero-box-1 p {
  color: #cecece;
  font-size: 1.9rem;
  font-family: "Gilroy-light", sans-serif;
  text-align: center;
  line-height: 2.8rem;
  padding-bottom: 3rem;
  margin-left: -1.5rem;
}
.btn2 {
  background-color: #8a66f1;
  color: #ffffff;
  border-radius: 9.4rem;
  width: 18vw;
  height: 7.7vh;
  border: none;
  font-size: 1.4rem;
  margin-left: -1.5rem;
  transition: 0.5s;
}
.btn2:hover {
  background-color: #805fe0;
}
.btn3 {
  background-color: #110a25;
  color: #e7e5e7;
  border-radius: 9.4rem;
  width: 18vw;
  height: 7.7vh;
  font-size: 1.4rem;
  border: none;
  border-top: solid #ffffff 0.1rem;
  border-left: solid #ffffff 0.1rem;
  border-right: solid #ffffff 0.1rem;
  border-bottom: solid #ffffff 0.1rem;
  margin-left: 1rem;
  transition: 0.6s;
}
.btn3:hover {
  background-color: #ffffff;
  color: #808080;
}
#hero-img {
  margin-top: 10.3rem;
}
.partners-container {
  display: block;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 9rem;
}
.partners-container h1 {
  font-size: 2.6rem;
  color: #595959;
  text-align: center;
  padding-bottom: 2rem;
}
.partners-container h1 br {
  display: none;
}
#partner-img {
  opacity: 0.2;
  margin-left: 6rem;
}
.features-container {
  height: 338vh;
}
.features-slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn4 {
  border-radius: 9.4rem;
  width: 8vw;
  height: 4vh;
  border: solid #808080 0.1rem;
  color: grey;
  background-color: #ffffff;
  font-size: 1.2rem;
}
.fa-circle {
  color: #8a66f1;
  font-size: 1rem;
  padding-right: 0.5rem;
}
.features-slide1 h2 {
  color: #595959;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.features-slide1 p {
  color: #595959;
  font-size: 1.5rem;
  text-align: center;
}
.budget-box {
  display: flex;
  justify-content: space-evenly;
  background-color: #ede8fd;
  height: 75vh;
  width: 85vw;
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin: auto;
  padding-top: 8rem;
  margin-top: 5.5rem;
  position: relative;
}
.budget-slide1 {
  position: absolute;
  top: 8rem;
  left: 13rem;
}
.budget-slide2 {
  position: absolute;
  top: 21.5rem;
  left: 13rem;
}
.budget-slide3 {
  position: absolute;
  top: 19rem;
  left: 46rem;
}
.budget-slide1 h2 {
  color: #595959;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.budget-slide1 p {
  color: #737373;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.budget-slide2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: -0.2rem;
  margin-left: -1rem;
}
.budget-slide3 {
  margin-top: 2.5rem;
  margin-left: -3rem;
}
#utilities-img-new {
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  width: 29vw;
}
#utilities-img-new2 {
  width: 29vw;
  margin-top: -2.5rem;
}
#budget-img-new {
  margin-top: -0.6rem;
}
.savings-expense-slide {
  display: flex;
  justify-content: space-around;
  margin-left: 8.5rem;
  margin-right: 7.8rem;
  margin-top: 2rem;
}
.savings-box {
  background-color: #e0f8e0;
  width: 43vw;
  height: 80vh;
  border-radius: 1.2rem;
  padding-left: 0rem;
  padding-top: 6rem;
  margin-left: -2rem;
}
.savings-box h2 {
  color: #595959;
  font-size: 2.5rem;
  padding-bottom: 2.3rem;
  padding-left: 3rem;
}
.savings-box p {
  color: #737373;
  font-size: 1.6rem;
  padding-bottom: 4.3rem;
  line-height: 2.5rem;
  padding-left: 3rem;
}
#savings-img {
  margin-left: 2.6rem;
  width: 35vw;
  margin-top: 5.8rem;
}
.expense-box {
  background-color: #ffe4e4;
  width: 42vw;
  height: 80vh;
  border-radius: 1.2rem;
  padding-top: 8rem;
  margin-right: -3rem;
}
#expense-img {
  margin-left: 4rem;
  width: 38vw;
}
.expense-box h2 {
  color: #595959;
  font-size: 2.5rem;
  padding-bottom: 2.3rem;
  padding-top: 7.5rem;
  padding-left: 7.7rem;
}
.expense-box p {
  color: #737373;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-left: 7.7rem;
}
.insights-box {
  display: block;
  justify-content: space-evenly;
  background-color: #fff7d9;
  height: 70vh;
  width: 85.7vw;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 3.5rem;
  border-bottom-left-radius: 3.5rem;
  margin: auto;
  padding-top: 8rem;
  margin-top: 2rem;
}
.insights-text h2 {
  color: #595959;
  font-size: 2.5rem;
  padding-bottom: 2.3rem;
  padding-left: 12rem;
}
.insights-text p {
  color: #737373;
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-left: 12rem;
}
.insights-img {
  margin-top: 5.8rem;
  margin-left: 10rem;
}
#insights-sub-img {
  margin-left: 2rem;
}
.financial-freedom-box {
  background-image: url("images/financial.png");
  background-color: rgb(19, 12, 39);
  height: 61vh;
  width: 87vw;
  margin: auto;
  border-radius: 3rem;
  margin-top: 10rem;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}
.financial-freedom-box h2 {
  color: #fdfdfd;
  font-size: 3.2rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
.three-musketeers {
  display: flex;
  justify-content: space-around;
}
.num-tag {
  background-color: #8a66f1;
  color: #ffffff;
  width: 3.7rem;
  height: 3.7rem;
  padding-left: 1.3rem;
  padding-top: 0.4rem;
  border-radius: 30rem;
  font-size: 2.3rem;
  margin-bottom: 2.7rem;
}
.principal {
  color: #fdfdfd;
  font-size: 1.8rem;
  padding-bottom: 2.2rem;
}
.asset {
  color: #d1d0d5;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
#lines {
  position: absolute;
  top: 17rem;
  left: 6rem;
  width: 20rem;
}
#lines2 {
  position: absolute;
  top: 17rem;
  left: 32rem;
  width: 21rem;
}
#lines3 {
  position: absolute;
  top: 17rem;
  left: 59rem;
  width: 21rem;
}
.testimonial-container {
  height: 155vh;
  margin-top: 17rem;
}
.testimonial-slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn5 {
  border-radius: 9.4rem;
  width: 10vw;
  height: 4vh;
  border: solid #808080 0.1rem;
  color: grey;
  background-color: #ffffff;
  font-size: 1.2rem;
}
.testimonial-slide1 h2 {
  color: #595959;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 3rem;
}
.testimonial-slide1 p {
  color: #595959;
  font-size: 1.7rem;
  text-align: center;
  line-height: 2.8rem;
  padding-bottom: 7rem;
}
.review {
  background-image: url("images/SeekPng 1 (1).png");
  background-position: center;
  height: 99vh;
  width: 92%;
  margin-left: auto;
  position: relative;
}
#icon-1 {
  position: absolute;
  top: -2rem;
  left: 2rem;
}
#icon-3 {
  position: absolute;
  top: 8rem;
  left: 20rem;
}
#icon-2 {
  position: absolute;
  top: 30rem;
  left: 9rem;
}
#icon-4 {
  position: absolute;
  top: 25rem;
  left: 30rem;
}
#icon-5 {
  position: absolute;
  top: 16rem;
  left: 40rem;
}
#icon-6 {
  position: absolute;
  top: 8rem;
  left: 58rem;
}
#icon-7 {
  position: absolute;
  top: 1rem;
  left: 86rem;
}
#icon-8 {
  position: absolute;
  top: 18rem;
  left: 85rem;
}
#icon-9 {
  position: absolute;
  top: 28rem;
  left: 65rem;
}
.adetayo-review {
  width: 50vw;
  height: 39vh;
  background-color: #ffffff;
  box-shadow: 0px 15px 35px 0px rgba(105, 105, 105, 0.05);
  border-radius: 2rem;
  position: absolute;
  top: 40rem;
  left: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adetayo-review p {
  color: #757575;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.8rem;
  padding-top: 3.8rem;
  padding-bottom: 2.6rem;
}
.adetayo-review h4 {
  color: #595959;
  font-size: 2rem;
  padding-bottom: 1.6rem;
}
#star-review {
  width: 7vw;
}
.fa-angle-left {
  font-size: 2.7rem;
  color: rgba(149, 120, 228, 0.7);
  border: solid 0.2rem #987ce6;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50rem;
  padding-top: 0.3rem;
  text-align: center;
}
.fa-angle-right {
  font-size: 2.7rem;
  color: rgba(149, 120, 228, 0.7);
  border: solid 0.2rem #987ce6;
  width: 4rem;
  height: 4rem;
  border-radius: 50rem;
  padding-top: 0.3rem;
  text-align: center;
}
.angle-left {
  position: absolute;
  top: 51rem;
  left: 13rem;
}
.angle-right {
  position: absolute;
  top: 51rem;
  left: 73rem;
}
.pricing-container {
  height: 225vh;
}
.pricing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn6 {
  border-radius: 9.4rem;
  width: 8vw;
  height: 4vh;
  border: solid #808080 0.1rem;
  color: grey;
  background-color: #ffffff;
  font-size: 1.2rem;
}
.pricing-top h2 {
  color: #595959;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 3rem;
}
.pricing-top p {
  color: #595959;
  font-size: 1.7rem;
  text-align: center;
  line-height: 2.8rem;
  padding-bottom: 7rem;
}
.pricing-toggle {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 19vw;
  height: 7.3vh;
  margin: auto;
  border-radius: 9rem;
}
.toggle-btn {
  border-radius: 9rem;
  width: 9vw;
  height: 5vh;
  border: none;
  margin-left: 0.7rem;
  margin-top: 0.7rem;
  background-color: #ffffff;
}
.toggle-text {
  font-size: 1.5rem;
  color: rgb(126, 126, 126, 0.6);
  padding-right: 1.6rem;
  padding-top: 1.3rem;
}
.mobile-toggle {
  visibility: hidden;
}
.pricing-box {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 11rem;
}
.pricing-ash {
  background-color: #f2effd;
  width: 30vw;
  height: 68vh;
  border-radius: 2rem;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.level {
  font-size: 1.5rem;
  border: solid 0.1rem rgb(128, 128, 128, 0.3);
  border-radius: 5rem;
  width: 8vw;
  height: 5vh;
  text-align: center;
  color: #787779;
  padding-top: 0.5rem;
}
.pricing-text {
  color: #696969;
  font-size: 1.38rem;
  line-height: 2.2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}
.pricing-text br {
  display: none;
}
.price-cta {
  border-top: solid 0.2rem rgb(128, 128, 128, 0.1);
  padding-top: 2rem;
  border-bottom: solid 0.2rem rgb(128, 128, 128, 0.1);
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cta-content {
  font-size: 1.2rem;
  color: #202020;
  font-weight: 800;
}
.cta-content-2 {
  font-size: 2.4rem;
  padding-left: 0.3rem;
}
.cta-content-3 {
  color: #888888;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.btn10 {
  background-color: #8a66f1;
  border-radius: 6rem;
  width: 9vw;
  height: 5vh;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  font-weight: 200;
  transition: 0.2s;
  margin-left: 1rem;
}
.btn10:hover {
  background-color: rgba(124, 92, 217, 1);
}
.pricing-box-list {
  list-style: none;
}
.pricing-box-list li {
  color: #696969;
  font-size: 1.38rem;
  padding-top: 1.8rem;
}
.fa-check {
  background-color: #8a66f1;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50rem;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-right: 1rem;
}
.pricing-blue {
  background-color: #7c5cd9;
  width: 30vw;
  height: 68vh;
  border-radius: 2rem;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.blue-top-div {
  display: flex;
  justify-content: space-between;
}
.level-2 {
  font-size: 1.5rem;
  border: solid 0.1rem #ffffff;
  border-radius: 5rem;
  width: 9.5vw;
  height: 6vh;
  text-align: center;
  color: #ffffff;
  padding-top: 0.7rem;
}
.recommended {
  color: #ffffff;
  font-size: 1.2rem;
  padding-top: 1.3rem;
  letter-spacing: 0.1rem;
}
.pricing-text-2 {
  color: rgba(255, 255, 255);
  font-size: 1.38rem;
  line-height: 2.2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  font-family: "Gilroy-ultralight", sans-serif;
}
.pricing-text-2 br {
  display: none;
}
.price-cta-2 {
  border-top: solid 0.1rem rgb(175, 175, 175);
  padding-top: 2rem;
  border-bottom: solid 0.1rem rgb(175, 175, 175);
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cta-diff-content {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 800;
}
.cta-diff-content-2 {
  font-size: 2.5rem;
  padding-left: 0.3rem;
  color: #ffffff;
}
.cta-diff-content-3 {
  color: #faf8f8;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
.btn11 {
  background-color: #ffffff;
  border-radius: 6rem;
  width: 9vw;
  height: 5.9vh;
  font-size: 1.1rem;
  color: #7c5cd9;
  border: none;
  font-weight: 200;
  transition: 0.2s;
  margin-left: 1rem;
}
.btn11:hover {
  background-color: #f3f0fe;
}
.pricing-box-list-2 {
  list-style: none;
}
.pricing-box-list-2 li {
  color: #f5f3f3;
  font-size: 1.3rem;
  padding-top: 1.8rem;
}
.level-3 {
  font-size: 1.6rem;
  border: solid 0.1rem rgb(128, 128, 128, 0.3);
  border-radius: 5rem;
  width: 8.8vw;
  height: 6vh;
  text-align: center;
  color: #787779;
  padding-top: 0.7rem;
}

.journey-box {
  background-image: url("images/last-bg.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-color: rgb(19, 12, 39);
  width: 90vw;
  margin: auto;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journey-principal {
  color: #fdfdfd;
  font-size: 3.5rem;
  padding-top: 7rem;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  line-height: 4.6rem;
}
.journey-asset {
  color: #cfced4;
  font-size: 1.5rem;
  padding-bottom: 3.2rem;
  text-align: center;
  font-weight: 100;
  line-height: 2.5rem;
}
.btn12 {
  background-color: #8a66f1;
  color: #ffffff;
  border-radius: 11rem;
  width: 14vw;
  height: 7.6vh;
  border: none;
  transition: 0.3s;
}
.btn12:hover {
  background-color: #7e5dd8;
}
.footer-container {
  height: 35vh;
  display: flex;
  justify-content: space-around;
}
.footer-slide1 {
  margin-right: 7.4rem;
  margin-top: -6.8rem;
}
#footer-logo {
  width: 12.6vw;
}
.footer-text-1 {
  color: #7e7e7e;
  font-size: 1.5rem;
  padding-top: 2.7rem;
  padding-bottom: 6.5rem;
  line-height: 2.5rem;
}
.footer-text-2 {
  color: #7e7e7e;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.input-button-mashup {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 25vw;
  border-radius: 9rem;
  height: 4.6rem;
}
.input-button-mashup p {
  color: rgb(126, 126, 126, 0.6);
  font-size: 1.45rem;
  padding-top: 1.3rem;
  padding-left: 1.7rem;
}
.btn13 {
  background-color: #8a66f1;
  width: 9.5vw;
  height: 4.6rem;
  border-radius: 9rem;
  border: none;
  color: #ffffff;
}
.footer-ul-div p {
  color: #595959;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
}
.footer-ul {
  list-style: none;
}
.footer-ul li {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  color: rgb(89, 89, 89, 0.8);
}
.horizontal-line {
  border-top: solid 0.1rem rgb(128, 128, 128, 0.3);
  width: 92vw;
  margin: auto;
  padding-bottom: 3rem;
}
.footer-extension {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-left: 5rem;
  margin-right: 3.2rem;
}
#appstore {
  padding-left: 1.4rem;
}
#social-img {
  padding-right: 1.8rem;
}
.mobile-footer {
  visibility: hidden;
}
